*{
margin:0px;
padding:0px;
}
/*.clearfix{
*zoom:1;
}
.clearfix:after{
display:table;
content:"";
clear:both;
}*/
.box{
margin-top:20px;
margin-left:20px;
width:312px;
border:2px solid red;
box-sizing:border-box;
height:310px;
}
a{
width:100px;
height:100px;
background:pink;
line-height:100px;
display:block;
text-decoration:none;
color:white;
text-align:center;
}
a:hover{
background:blue;
}
.box2,.box4{
position:relative;
bottom:100px;
left:200px;
}
.box5{
position:relative;
bottom:300px;
left:100px;
}
.box_middle{
margin:4px 4px;
}
