*{
margin:0px;
padding:0px;
}
/*.clearfix{
*zoom:1;
}
.clearfix:after{
display:table;
content:"";
clear:both;
}*/
.box{
margin:30px auto;
width:960px;
position:relative;
font-size:12px;
}
.icon{
position:absolute;
z-index:1;
right:190px;
top:-2px;
}
.right_top{
background:#eafffa;
border:1px solid #c8ece3;
border-bottom:none;
height:30px;
position:absolute;
right:0px;
top:15px;
z-index:0;
overflow:hidden;
}
.right_top a{
color:#666;
text-decoration:none;
padding:0px 8px;
line-height:30px;
}
.menu{
width:960px;
background:#ff6613;
border:1px solid #fe470b;
height:35px;
}
.menu a{
color:white;
padding:0px 14px;
text-decoration:none;
line-height:35px;
}
.banner{
margin-top:10px;
}
.middle{
width:958px;
border:2px solid #cce9ac;
height:380px;
position:relative;
margin-top:15px;
overflow:hidden;
}
.bg{
position:absolute;
left:-12px;
top:20px;
}
.middle_cnt{
position:relative;
top:100px;
}
.bookNo1{
z-index:1;
position:absolute;
left:20px;
top:0px;
}
.book1_zi{
position:absolute;
left:260px;
top:15px;
line-height:25px;
width:310px;
overflow:hidden;
}
.bookNo2{
z-index:1;
position:absolute;
left:580px;
top:0px;
}
.book2{
left:580px;
top:15px;
position:absolute;
}
.book2_zi{
position:absolute;
left:680px;
top:15px;
line-height:25px;
width:280px;
overflow:hidde;
}
.bookNo3{
z-index:1;
position:absolute;
left:580px;
top:150px;
}
.book3{
left:580px;
top:150px;
position:absolute;
}
.book3_zi{
position:absolute;
left:680px;
top:150px;
line-height:25px;
width:300px;
overflow:hidde;
}
.bottom img{
vertical-align:middle;
}
.bottom p{
text-align:center;
}
p,span,a{
font-size:12px;
font-family:Verdana,"ו";

line-height:25px;
}

